@import "./theme.scss";

body{
    overflow-x: hidden !important;
}
.active-heading {
    color: $Primarycolor;
}


// bootstrap form control avoid 

.form-control:focus {
    color           : var(--bs-body-color);
    background-color: transparent !important;
    border-color    : none !important;
    outline         : 0;
    box-shadow      : none !important;
}

// general styles 
.auth_heading{
    font-size: 35px;
    font-weight: 600;
}

.auth_title{
    font-size: 17px;
    font-weight: 500;
}