$accentGrey     : rgb(245, 245, 245);
$lightGrey      : #ededed;
$pagebackground : #fff;
$Primarycolor   : #db4444;
$dark           : #000000;
$dark_grey      : #3d3d3d;
$borderGrey : rgba(0, 0, 0, 0.3);
$lightGrey2 : #f5f5f5;